%h1
  Activity

-@activities.each do |activity|
  = activity.id
  = link_to activity.trackable_type, activity.trackable_type
  = activity.trackable_id
  = activity.key
  = activity.parameters
  = activity.owner
  %br
  
