//jumbotron
.bg-light.p-5.my-4.rounded
  .display-4
    What do you want to learn today?
  .p-4
  .navbar-nav.me-left
    = form_tag(courses_path, method: :get) do
      .input-group
        = text_field_tag :title, params[:title], autocomplete: 'off', placeholder: "Search", class: 'form-control-sm'
        %span.input-group-append
          %button.btn.btn-primary.btn-sm{:type => "submit"}
            %span.fa.fa-search{"area-hidden" => "true"}

.card-group
  .card.card-body
    %h1
      .fa.fa-graduation-cap
    = Course.count
    online courses
    .row
    Explore a variety of fresh topics
  .card.card-body
    %h1
      .fa.fa-chalkboard-teacher
    = Course.distinct.count(:user_id)
    experts
    .row
    Find the right instructor
  .card.card-body
    %h1
      .fa.fa-user-graduate
    = User.count
    active learners
    .row
    Join the comunity
  .card.card-body
    %h1
      .fa.fa-infinity
    Lifetime access
    .row
    Learn on your schedule


%hr
%h1
  Popular
.row{"data-masonry" => "{\"percentPosition\": true }"}
  - @latest_courses.each do |course|
    .col-sm-4.col-md-3.py-3
      = render 'courses/course', course: course
%hr
%h1
  Top rated
%hr
%h1
  Latest
